  
  <% if @project && @project.assignable_users.any? && !@issue %>
    <%= stylesheet_link_tag 'redmine_project_team', plugin: 'redmine_project_team' %>
    <h3><%= l :label_members %></h3>
    <ul class="queries">
    <% for user in @project.assignable_users %>
      <% clss = 'query '
         if params.key?(:v) && params[:v].key?(:assigned_to_id) 
           clss << ' selected' if params[:v][:assigned_to_id].include?(user.id.to_s)
         elsif params.key?(:assigned_to_id)
           clss << ' selected' if params[:assigned_to_id].include?(user.id.to_s) 
         end 
       %>
       <%= content_tag(:li, :class => clss) do %>
         <%= render_member_link(user,params,:class =>clss) %>
       <% end %>
    <% end %>
    </ul>
  <% end %>