#sidebar li.query > a {
   padding: 2px 2px;
}

div.assignments h3 {
    background: transparent url("../images/ticket_go.png") no-repeat scroll 0% 50%;
    padding-left: 20px;
}

div.spent_time h3 {
    background: transparent url("../images/time.png") no-repeat scroll 0% 50%;
    padding-left: 20px;
}

div.command span.prev-week
{
    background: transparent url("../images/arrow_fast_left.png") no-repeat scroll 0% 50%;
    padding-right: 20px;
}

div.command span.prev-day
{
    background: transparent url("../images/arrow_left.png") no-repeat scroll 0% 50%;
    padding-right: 20px;
}

div.command span.next-day
{
    background: transparent url("../images/arrow_right.png") no-repeat scroll 0% 50%;
    padding-left: 20px;
}

div.command span.next-week
{
    background: transparent url("../images/arrow_fast_right.png") no-repeat scroll 0% 50%;
    padding-left: 20px;
}

div.spent_time table{

	border-collapse: collapse;
	border-left: 1px solid #C0C0C0;
	border-right: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
	text-align: center;
}	

div.spent_time table th {
	background: #eee;
	border-left: 1px solid #C0C0C0;
	border-top: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
}	

div.spent_time table th:last-child {
	border-right: 1px solid #C0C0C0;
}	


div.spent_time table td {
	border-left: 1px solid #C0C0C0;
	border-top: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
}	

div.spent_time table td:last-child {
	border-right: 1px solid #C0C0C0;
}	

div.spent_time *.total {
	background: #cfc;
}

div.spent_time *.nwday {
	background: #FFD1D1;
	border-left:none;
	border-right:none;
}

div.spent_time th.today {
	border-top: 1px solid #FF0000;
	border-left: 1px solid #FF0000;
	border-right: 1px solid #FF0000;
}

div.spent_time td.today {
	border-left: 1px solid #FF0000;
	border-right: 1px solid #FF0000;
}

div.spent_time tr:last-child td.today {
	border-bottom: 1px solid #FF0000;
}
